<div class="container">
    <div class="row">
        <h1 class="text-center">Car Sell Website</h1>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <img src="../../assets/images/2.jpg" class="img-fluid float-end" style="height: 300px ;" alt="...">
        </div>
        <div class="col-6 bg-custome">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus harum qui earum tempora repellendus?
                Sint similique voluptas vel temporibus quisquam ab? Iste reprehenderit corporis hic placeat amet
                mollitia modi voluptatem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro voluptate qui eligendi soluta ut aperiam,
                nam eum repellat alias magnam facere repudiandae maxime sed. Aliquam veniam eos repellendus odio
                inventore!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro voluptate qui eligendi soluta ut aperiam,
                nam eum repellat alias magnam facere repudiandae maxime sed. Aliquam veniam eos repellendus odio
                inventore!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bg-custome">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus harum qui earum tempora repellendus?
                Sint similique voluptas vel temporibus quisquam ab? Iste reprehenderit corporis hic placeat amet
                mollitia modi voluptatem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro voluptate qui eligendi soluta ut aperiam,
                nam eum repellat alias magnam facere repudiandae maxime sed. Aliquam veniam eos repellendus odio
                inventore!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro voluptate qui eligendi soluta ut aperiam,
                nam eum repellat alias magnam facere repudiandae maxime sed. Aliquam veniam eos repellendus odio
                inventore!</p>
        </div>
        <div class="col-6">
            <img src="../../assets/images/2.jpg" class="img-fluid float-end" style="height: 300px ;" alt="..."> 
        </div>
    </div>
</div>