
<!-- car_name
    number
    color
    type -->

<div class="container">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Car Name</span>
    <input type="text" class="form-control" placeholder="Car Name" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Number</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Number" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Color</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Color" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Type</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Type" aria-describedby="basic-addon1">
  </div>
</div>

