<div class="row mt-5 mb-3">
  <div class="col-8"> <h1>Car List</h1></div>
  <div class="col-4 text-end">
    <button type="button" (click)="addCar()" class="btn btn-success">Add New Car</button>
  </div>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Car Name</th>
        <th scope="col">Number</th>
        <th scope="col">Type</th>
        <th scope="col">Color</th>
      </tr>
    </thead>
    <tbody *ngIf="carList.length > 0">
      <tr *ngFor="let car of carList; let i = index">
        <td>{{i + i}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.number}}</td>
        <td>{{car.color}}</td>
        <td>{{car.type}}</td>
      </tr>
    <tbody *ngIf="carList.length == 0">
      <tr>
        <th colspan="5">Data Not Found</th>
      </tr>

    </tbody>
  </table>
</div>